<div class="container">
  <div class="row">
    <div class="col s8 offset-2">
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Image Analyser</h4>
      </div>
      <form #imageForm = ngForm (ngSubmit)="onSubmit(Caption, Image, Hashtags)">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" #Caption ngModel name="Caption" id="Caption" required>
            <label for="Caption">Caption</label>
          </div>
        </div>
        <img [src]="imageUrl" id="ImagePreview">
        <input class="row" type="file" #Image accept="image/*" (change)="onFileSelected($event.target.files)">
        <div class="row">
          <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
        </div>
        <div class="row">
          Hashtags:
          <textarea #Hashtags ngModel name="Hashtags" id="Hashtags"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
